.container {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
  gap: 16px;

  .item {
    flex: 1;
    width: 14%;
    height: 100%;
  }

  .box-item {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #f6f7f9;
    height: calc(93vh - 50px);
    margin-top: 8px;
  }

  .title {
    color: #6a7988;
    font-size: 16px;
    font-weight: 500;
  }

  .exercise {
    border-radius: 6px;
    background-color: #ffffff80;
    border: 1px solid #22242615;
    padding: 4px;
    max-height: 200px;
    overflow-y: auto;
  }

  .exercise-title {
    color: #5a57cb;
  }

  .title {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .work-out {
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #22242610;
    height: fit-content;
    width: 90%;
    margin-top: 4px;
    padding: 8px;
  }
}

.mt-8 {
  margin-top: 8px;
}
.ml-30 {
  margin-left: 30px;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.w-full {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.color {
  color: #95a6b7;
}
